In [1]:
import pandas as pd
import numpy as np
# import seaborn as sns
import matplotlib.pyplot as plt
import sys
!{sys.executable} -m pip install seaborn as sns

Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/c7/e6/54aaaafd0b87f51dfba92ba73da94151aa3bc179e5fe88fc5dfb3038e860/seaborn-0.10.1-py3-none-any.whl (215kB)
     |████████████████████████████████| 225kB 927kB/s eta 0:00:01
Collecting as
  Downloading https://files.pythonhosted.org/packages/b4/08/226c133ec497d25a63edb38527c02db093c7d89e6d4cdc91078834486a5d/as-0.1-py3-none-any.whl
Collecting sns
  Downloading https://files.pythonhosted.org/packages/58/80/d5a2a12fae635474014e7e0c88959daab3bf815648250fbb7639dd02fe50/sns-0.1.tar.gz
Requirement already satisfied: matplotlib>=2.1.2 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from seaborn) (3.1.2)
Requirement already satisfied: numpy>=1.13.3 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from seaborn) (1.18.1)
Requirement already satisfied: scipy>=1.0.1 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from seaborn) (0.25.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from matplotlib>=2.1.2->seaborn) (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from pandas>=0.22.0->seaborn) (2019.3)
Requirement already satisfied: six in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.1.2->seaborn) (1.13.0)
Requirement already satisfied: setuptools in /Applications/anaconda3/envs/info2950/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn) (44.0.0.post20200106)
Building wheels for collected packages: sns
  Building wheel for sns (setup.py) ... done
  Created wheel for sns: filename=sns-0.1-cp37-none-any.whl size=2665 sha256=9972120e461060507e0c39ce43ae5128a7cc46a0edb8d986f1b9e4f6a1f4b4f0
  Stored in directory: /Users/LeoDecter/Library/Caches/pip/wheels/be/a5/d8/4390400ed430c8186a6af96dbb1cc7d0a00a5dee15d268b627
Successfully built sns
Installing collected packages: seaborn, as, sns
Successfully installed as-0.1 seaborn-0.10.1 sns-0.1

In [13]:
player_stats = pd.read_csv("player_stats_data.csv", index_col=0)
player_stats.rename(columns={'PLAYER':'Player'}, inplace=True)
player_stats.head()

,Player,G,GLS,GPG,AST,APG,BLK,BPG,+ / -,+/- PG,CMP,CPG,CMP %,PP,PPG
0,Quentin Bonnaud,12,83,6.92,15,1.25,14,1.17,101,8.42,208,17.33,96.3,284,23.67
1,Rowan McDonnell,13,67,5.15,51,3.92,5,0.38,92,7.08,408,31.38,93.8,359,27.62
2,Ben Jagt,15,67,4.47,64,4.27,14,0.93,111,7.40,287,19.13,91.4,379,25.27
3,Max Sheppard,14,61,4.36,68,4.86,9,0.64,103,7.36,295,21.07,91.0,337,24.07
4,Eli Jaime,10,52,5.20,12,1.20,4,0.40,61,6.10,101,10.10,95.3,211,21.10

In [7]:
team_stats = pd.read_csv("team_stats.csv", index_col=0)
team_stats.head()

,Team,G,W,L,T,PTS,PPG,PA,PAPG,OEFF,DEFF,+ / -,+/- PG,BLK,BPG,CMP,CPG,CMP %,TO,TPG
0,New York Empire,15,15,0,0,334,22.27,282,18.80,0.48,-0.42,588,39.20,150,10.00,"3,547",236.47,94.7,230,15.33
1,San Diego Growlers,14,11,3,0,328,23.43,292,20.86,0.46,-0.42,581,41.50,157,11.21,"3,404",243.14,94.8,228,16.29
2,Raleigh Flyers,13,10,3,0,293,22.54,255,19.62,0.39,-0.36,514,39.54,124,9.54,"3,197",245.92,95.0,192,14.77
3,Dallas Roughnecks,15,10,5,0,320,21.33,300,20.00,0.32,-0.41,550,36.67,202,13.47,"3,640",242.67,93.7,290,19.33
4,Pittsburgh Thunderbirds,14,9,5,0,298,21.29,270,19.29,0.33,-0.41,487,34.79,141,10.07,"3,551",253.64,94.5,249,17.79

In [14]:
rosters = pd.read_csv("rosters.csv", index_col=0)
rosters.head()

            Player    Team
0       Sam Batson  hustle
1         Sun Choi  hustle
2   Karl Ekwurtzel  hustle
3  Brett Hulsmeyer  hustle
4     Elijah Jaime  hustle

In [15]:
data = rosters.merge(player_stats, left_on='Player', right_on='Player')
data.head()

,Player,Team,G,GLS,GPG,AST,APG,BLK,BPG,+ / -,+/- PG,CMP,CPG,CMP %,PP,PPG
0,Sam Batson,hustle,8,0,0.00,4,0.50,3,0.38,4,0.50,24,3.00,88.9,67,8.38
1,Sun Choi,hustle,10,2,0.20,10,1.00,3,0.30,6,0.60,90,9.00,90.9,132,13.20
2,Karl Ekwurtzel,hustle,9,4,0.44,1,0.11,4,0.44,2,0.22,44,4.89,86.3,121,13.44
3,Brett Hulsmeyer,hustle,10,8,0.80,1,0.10,12,1.20,18,1.80,38,3.80,92.7,179,17.90
4,Matthew Knowles,hustle,7,0,0.00,13,1.86,0,0.00,7,1.00,117,16.71,95.1,108,15.43